<a href="https://colab.research.google.com/github/dwjang0902/ExampleNew/blob/master/wep_scraping_with_pandas_Beautifulsoup.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Web Scraping, HTML Reading

참조 : 
1. [Parsing HTML Tables in Python with pandas](https://beenje.github.io/blog/posts/parsing-html-tables-in-python-with-pandas/)
2. [Web Scraping with Pandas and Beautifulsoup](https://pythonprogramminglanguage.com/web-scraping-with-pandas-and-beautifulsoup/)
3. [HTML 요소 레퍼런스](https://developer.mozilla.org/ko/docs/Web/HTML/Element#%EB%82%B4%EC%9E%A5_%EC%BD%98%ED%85%90%EC%B8%A0)
4. [Most commonly used tags in HTML](https://www.geeksforgeeks.org/most-commonly-used-tags-in-html/)

In [0]:
html_string = """
<table>
  <thead>
    <tr>
      <th>Programming Language</th>
      <th>Creator</th> 
      <th>Year</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>C</td>
      <td>Dennis Ritchie</td> 
      <td>1972</td>
    </tr>
    <tr>
      <td>Python</td>
      <td>Guido Van Rossum</td> 
      <td>1989</td>
    </tr>
    <tr>
      <td>Ruby</td>
      <td>Yukihiro Matsumoto</td> 
      <td>1995</td>
    </tr>
  </tbody>
</table>
"""

In [0]:
from IPython.display import display_html
display_html(html_string, raw=True)

Programming Language,Creator,Year
C,Dennis Ritchie,1972
Python,Guido Van Rossum,1989
Ruby,Yukihiro Matsumoto,1995

In [0]:
import pandas as pd
dfs = pd.read_html(html_string)
print(dfs)

[  Programming Language             Creator  Year
0                    C      Dennis Ritchie  1972
1               Python    Guido Van Rossum  1989
2                 Ruby  Yukihiro Matsumoto  1995]

In [0]:
df = dfs[0]
print(df)

  Programming Language             Creator  Year
0                    C      Dennis Ritchie  1972
1               Python    Guido Van Rossum  1989
2                 Ruby  Yukihiro Matsumoto  1995

In [0]:
df = df[df.Year > 1972]
print(df)

Empty DataFrame
Columns: [Programming Language, Creator, Year]
Index: []

In [0]:
pd.read_html(html_string)[0]

  Programming Language             Creator  Year
0                    C      Dennis Ritchie  1972
1               Python    Guido Van Rossum  1989
2                 Ruby  Yukihiro Matsumoto  1995

In [0]:
dfs = pd.read_html('http://www.contextures.com/xlSampleData01.html')
print(dfs)

             0        1         2        3      4         5        6
0    OrderDate   Region       Rep     Item  Units  UnitCost    Total
1     1/6/2018     East     Jones   Pencil     95      1.99   189.05
2    1/23/2018  Central    Kivell   Binder     50     19.99   999.50
3     2/9/2018  Central   Jardine   Pencil     36      4.99   179.64
4    2/26/2018  Central      Gill      Pen     27     19.99   539.73
5    3/15/2018     West   Sorvino   Pencil     56      2.99   167.44
6     4/1/2018     East     Jones   Binder     60      4.99   299.40
7    4/18/2018  Central   Andrews   Pencil     75      1.99   149.25
8     5/5/2018  Central   Jardine   Pencil     90      4.99   449.10
9    5/22/2018     West  Thompson   Pencil     32      1.99    63.68
10    6/8/2018     East     Jones   Binder     60      8.99   539.40
11   6/25/2018  Central    Morgan   Pencil     90      4.99   449.10
12   7/12/2018     East    Howard   Binder     29      1.99    57.71
13   7/29/2018     East    Parent   Binder     81     19.99  1619.19
14   8/15/2018     East     Jones   Pencil     35      4.99   174.65
15    9/1/2018  Central     Smith     Desk      2    125.00   250.00
16   9/18/2018     East     Jones  Pen Set     16     15.99   255.84
17   10/5/2018  Central    Morgan   Binder     28      8.99   251.72
18  10/22/2018     East     Jones      Pen     64      8.99   575.36
19   11/8/2018     East    Parent      Pen     15     19.99   299.85
20  11/25/2018  Central    Kivell  Pen Set     96      4.99   479.04
21  12/12/2018  Central     Smith   Pencil     67      1.29    86.43
22  12/29/2018     East    Parent  Pen Set     74     15.99  1183.26
23   1/15/2019  Central      Gill   Binder     46      8.99   413.54
24    2/1/2019  Central     Smith   Binder     87     15.00  1305.00
25   2/18/2019     East     Jones   Binder      4      4.99    19.96
26    3/7/2019     West   Sorvino   Binder      7     19.99   139.93
27   3/24/2019  Central   Jardine  Pen Set     50      4.99   249.50
28   4/10/2019  Central   Andrews   Pencil     66      1.99   131.34
29   4/27/2019     East    Howard      Pen     96      4.99   479.04
30   5/14/2019  Central      Gill   Pencil     53      1.29    68.37
31   5/31/2019  Central      Gill   Binder     80      8.99   719.20
32   6/17/2019  Central    Kivell     Desk      5    125.00   625.00
33    7/4/2019     East     Jones  Pen Set     62      4.99   309.38
34   7/21/2019  Central    Morgan  Pen Set     55     12.49   686.95
35    8/7/2019  Central    Kivell  Pen Set     42     23.95  1005.90
36   8/24/2019     West   Sorvino     Desk      3    275.00   825.00
37   9/10/2019  Central      Gill   Pencil      7      1.29     9.03
38   9/27/2019     West   Sorvino      Pen     76      1.99   151.24
39  10/14/2019     West  Thompson   Binder     57     19.99  1139.43
40  10/31/2019  Central   Andrews   Pencil     14      1.29    18.06
41  11/17/2019  Central   Jardine   Binder     11      4.99    54.89
42   12/4/2019  Central   Jardine   Binder     94     19.99  1879.06
43  12/21/2019  Central   Andrews   Binder     28      4.99   139.72

In [0]:
dfs = pd.read_html('http://www.contextures.com/xlSampleData01.html', header=0)
dfs[0].head()

   OrderDate   Region      Rep    Item  Units  UnitCost   Total
0   1/6/2018     East    Jones  Pencil     95      1.99  189.05
1  1/23/2018  Central   Kivell  Binder     50     19.99  999.50
2   2/9/2018  Central  Jardine  Pencil     36      4.99  179.64
3  2/26/2018  Central     Gill     Pen     27     19.99  539.73
4  3/15/2018     West  Sorvino  Pencil     56      2.99  167.44

In [0]:
pd.read_html('https://en.wikipedia.org/wiki/Python_(programming_language)', header=0)[0]

,Unnamed: 0,Unnamed: 1
0,Paradigm,"Multi-paradigm: functional, imperative, object..."
1,Designed by,Guido van Rossum
2,Developer,Python Software Foundation
3,First appeared,1990; 29 years ago[1]
4,NaN,NaN
5,Stable release,3.7.3 / 25 March 2019; 40 days ago[2]2.7.16 / ...
6,Typing discipline,"Duck, dynamic, gradual (since 3.5)[4]"
7,License,Python Software Foundation License
8,Filename extensions,".py, .pyc, .pyd, .pyo (prior to 3.5),[5] .pyw,..."
9,Website,www.python.org
10,Major implementations,Major implementations
11,"CPython, PyPy, Stackless Python, MicroPython. ...","CPython, PyPy, Stackless Python, MicroPython. ..."
12,Dialects,Dialects
13,"Cython, RPython","Cython, RPython"
14,Influenced by,Influenced by
15,"ABC,[7] ALGOL 68,[8] APL[9] C,[10] C++,[11] CL...","ABC,[7] ALGOL 68,[8] APL[9] C,[10] C++,[11] CL..."
16,Influenced,Influenced
17,"Apache Groovy, Boo, Cobra, CoffeeScript,[18] D...","Apache Groovy, Boo, Cobra, CoffeeScript,[18] D..."
18,Python Programming at Wikibooks,Python Programming at Wikibooks

In [0]:
dfs = pd.read_html('https://en.wikipedia.org/wiki/Timeline_of_programming_languages')

In [0]:
len(dfs)

13

In [0]:
dfs[12]

,vteProgramming languages,vteProgramming languages.1
0,Comparison Timeline History,Comparison Timeline History
1,APL Assembly BASIC C C++ C# COBOL Elixir Fortr...,APL Assembly BASIC C C++ C# COBOL Elixir Fortr...
2,Category Lists Alphabetical Categorical Gener...,Category Lists Alphabetical Categorical Gener...

In [0]:
dfs[12]

,vteProgramming languages,vteProgramming languages.1
0,Comparison Timeline History,Comparison Timeline History
1,APL Assembly BASIC C C++ C# COBOL Elixir Fortr...,APL Assembly BASIC C C++ C# COBOL Elixir Fortr...
2,Category Lists Alphabetical Categorical Gener...,Category Lists Alphabetical Categorical Gener...


[Web Scraping with Pandas and Beautifulsoup](https://pythonprogramminglanguage.com/web-scraping-with-pandas-and-beautifulsoup/)

In [0]:
import pandas as pd
import requests
from bs4 import BeautifulSoup

In [0]:
res = requests.get("http://www.nationmaster.com/country-info/stats/Media/Internet-users")
print(res)
soup = BeautifulSoup(res.content,'lxml')
#print(soup)

In [0]:
table = soup.find_all('table')
#print(len(table))
table = table[0]
df =pd.read_html(str(table))[0][0:5]

In [0]:
countries = df["COUNTRY"].tolist()
users = df["AMOUNT"].tolist()
print(countries)

['China', 'United States', 'Japan', 'Group of 7 countries (G7) average (profile)', 'Brazil']

네이버 주식에서 데이타  읽어오기

In [0]:
url = 'http://finance.naver.com/item/sise_day.nhn?code='+ stockItem
#print(url)
html = urlopen(url)  
source = BeautifulSoup(html.read(), "html.parser")
maxPage=source.find_all("table",align="center")
#print(maxPage)
mp = maxPage[0].find_all("td",class_="pgRR")
page = mp[0].a.get('href')
page = page.split('&')
#print("page : ", page[-1]) 
page = page[-1].split('=')
page = page[-1]
print( "전체 페이지 수 : ", page)

# 일자 데이터를 담을 df라는 DataFrame 정의 
df = pd.DataFrame()

for page in range(1, last_page): 
#    pg_url = '{url}&page={page}'.format(url=url, page=page) # 동작을 않는다, 이유를 모르겠다 ???
    pg_url = 'http://finance.naver.com/item/sise_day.nhn?code=' + code_num + '&page='+ str(page)
#    print(pg_url)
#    df = pd.read_html(pg_url)
    df = df.append(pd.read_html(pg_url, header=0)[0], ignore_index=True)

In [10]:
import pandas as pd
import requests
from bs4 import BeautifulSoup

#url = "https://finance.naver.com/item/frgn.nhn?code=049430"
url = 'http://finance.naver.com/item/frgn.nhn?code='+ code_num
res = requests.get(url)
print(res)
soup = BeautifulSoup(res.content,'lxml')
maxPage = soup.find_all("table",align="center")
print(len(maxPage))
mp = maxPage[0].find_all("td",class_="pgRR")
page = mp[0].a.get('href')
page = page.split('&')
#print("page : ", page[-1]) 
page = page[-1].split('=')
page = page[-1]
print( "전체 페이지 수 : ", page)

<Response [200]>
1
전체 페이지 수 :  169

In [17]:
table = soup.find_all('table')
print(len(table))
table = table[4]
df =pd.read_html(str(table))[0][0:5]
print(df)

12
          0                 1
0      시가총액           743  억원
1    시가총액순위          코스닥 835위
2     상장주식수           9048000
3  액면가l매매단위        500원  l 1주
4  주총일l전자투표  2019.03.28 l 미도입

In [0]:
t_one = table[0]
#print(t_one)
df = pd.read_html(str(table))

In [0]:
print(len(df))
print(df[2].columns)
print(df[2].index)
print(len(df[2]))
print(df[2])

In [22]:

#print(str(table[2]))
#page = 1
last_page = page
code_num = '049430'
for page in range(1, 10): 
#    pg_url = 'http://finance.naver.com/item/sise_day.nhn?code=' + code_num + '&page='+ str(page)
    pg_url = 'http://finance.naver.com/item/frgn.nhn?code='+ code_num + '&page='+ str(page) # 주소는 바르게 찾았음....
#    df = pd.read_html(pg_url)
    df = df.append(pd.read_html(pg_url)[0], ignore_index=True)

print(pg_url)
#df = pd.read_html(pg_url,'lxml', header = 0)
print(df)

http://finance.naver.com/item/frgn.nhn?code=049430&page=9
                     0                                           1  \
0                  NaN                                         NaN
1                  NaN                                         NaN
2                  NaN                                         NaN
3                  NaN                                         NaN
4                  NaN                                         NaN
5                  NaN                                         NaN
6                  NaN                                         NaN
7                  NaN                                         NaN
8                  NaN                                         NaN
9                  NaN                                         NaN
10                 NaN                                         NaN
11                 NaN                                         NaN
12                 NaN                                         NaN
13                 NaN                                         NaN
14                 NaN                                         NaN
15                 NaN                                         NaN
16                 NaN                                         NaN
17                 NaN                                         NaN
18  ÀüÀÏ  8,250  8,250  °í°¡  8,2508,250  (»óÇÑ°¡  10,70010,700  )
19    ½Ã°¡  8,2508,250         Àú°¡  8,1008,100  (ÇÏÇÑ°¡  5,780  )
20  ÀüÀÏ  8,250  8,250  °í°¡  8,2508,250  (»óÇÑ°¡  10,70010,700  )
21    ½Ã°¡  8,2508,250         Àú°¡  8,1008,100  (ÇÏÇÑ°¡  5,780  )
22  ÀüÀÏ  8,250  8,250  °í°¡  8,2508,250  (»óÇÑ°¡  10,70010,700  )
23    ½Ã°¡  8,2508,250         Àú°¡  8,1008,100  (ÇÏÇÑ°¡  5,780  )
24  ÀüÀÏ  8,250  8,250  °í°¡  8,2508,250  (»óÇÑ°¡  10,70010,700  )
25    ½Ã°¡  8,2508,250         Àú°¡  8,1008,100  (ÇÏÇÑ°¡  5,780  )
26  ÀüÀÏ  8,250  8,250  °í°¡  8,2508,250  (»óÇÑ°¡  10,70010,700  )
27    ½Ã°¡  8,2508,250         Àú°¡  8,1008,100  (ÇÏÇÑ°¡  5,780  )
28  ÀüÀÏ  8,250  8,250  °í°¡  8,2508,250  (»óÇÑ°¡  10,70010,700  )
29    ½Ã°¡  8,2508,250         Àú°¡  8,1008,100  (ÇÏÇÑ°¡  5,780  )
30  ÀüÀÏ  8,250  8,250  °í°¡  8,2508,250  (»óÇÑ°¡  10,70010,700  )
31    ½Ã°¡  8,2508,250         Àú°¡  8,1008,100  (ÇÏÇÑ°¡  5,780  )
32  ÀüÀÏ  8,250  8,250  °í°¡  8,2508,250  (»óÇÑ°¡  10,70010,700  )
33    ½Ã°¡  8,2508,250         Àú°¡  8,1008,100  (ÇÏÇÑ°¡  5,780  )
34  ÀüÀÏ  8,250  8,250  °í°¡  8,2508,250  (»óÇÑ°¡  10,70010,700  )
35    ½Ã°¡  8,2508,250         Àú°¡  8,1008,100  (ÇÏÇÑ°¡  5,780  )

                         2  °Å·¡·®  10,694  10,694  \
0                      NaN  °Å·¡´ë±Ý  87  87  ¹é¸¸
1                      NaN  °Å·¡´ë±Ý  87  87  ¹é¸¸
2                      NaN  °Å·¡´ë±Ý  87  87  ¹é¸¸
3                      NaN  °Å·¡´ë±Ý  87  87  ¹é¸¸
4                      NaN  °Å·¡´ë±Ý  87  87  ¹é¸¸
5                      NaN  °Å·¡´ë±Ý  87  87  ¹é¸¸
6                      NaN  °Å·¡´ë±Ý  87  87  ¹é¸¸
7                      NaN  °Å·¡´ë±Ý  87  87  ¹é¸¸
8                      NaN  °Å·¡´ë±Ý  87  87  ¹é¸¸
9                      NaN  °Å·¡´ë±Ý  87  87  ¹é¸¸
10                     NaN  °Å·¡´ë±Ý  87  87  ¹é¸¸
11                     NaN  °Å·¡´ë±Ý  87  87  ¹é¸¸
12                     NaN  °Å·¡´ë±Ý  87  87  ¹é¸¸
13                     NaN  °Å·¡´ë±Ý  87  87  ¹é¸¸
14                     NaN  °Å·¡´ë±Ý  87  87  ¹é¸¸
15                     NaN  °Å·¡´ë±Ý  87  87  ¹é¸¸
16                     NaN  °Å·¡´ë±Ý  87  87  ¹é¸¸
17                     NaN  °Å·¡´ë±Ý  87  87  ¹é¸¸
18  °Å·¡·®  10,694  10,694                     NaN
19  °Å·¡´ë±Ý  87  87  ¹é¸¸                     NaN
20  °Å·¡·®  10,694  10,694                     NaN
21  °Å·¡´ë±Ý  87  87  ¹é¸¸                     NaN
22  °Å·¡·®  10,694  10,694                     NaN
23  °Å·¡´ë±Ý  87  87  ¹é¸¸                     NaN
24  °Å·¡·®  10,694  10,694                     NaN
25  °Å·¡´ë±Ý  87  87  ¹é¸¸                     NaN
26  °Å·¡·®  10,694  10,694                     NaN
27  °Å·¡´ë±Ý  87  87  ¹é¸¸                     NaN
28  °Å·¡·®  10,694  10,694                     NaN
29  °Å·¡´ë±Ý  87  87  ¹é¸¸                     NaN
30  °Å·¡·®  10,694  10,694                     NaN
31  °Å·¡´ë±Ý  87  87  ¹é¸¸                     NaN
32  °Å·¡·®  10,694  10,694                     NaN
33  °Å·¡´ë±Ý  87  87  ¹é¸¸                     NaN
34  °Å·¡·®  10,694  10,694                     NaN
35  °Å·¡´ë±Ý  87  87  ¹é¸¸                     NaN

   °í°¡  8,2508,250  (»óÇÑ°¡  10,70010,700  ) ÀüÀÏ  8,250  8,250
0         Àú°¡  8,1008,100  (ÇÏÇÑ°¡  5,780  )   ½Ã°¡  8,2508,250
1         Àú°¡  8,1008,100  (ÇÏÇÑ°¡  5,780  )   ½Ã°¡  8,2508,250
2         Àú°¡  8,1008,100  (ÇÏÇÑ°¡  5,780  )   ½Ã°¡  8,2508,250
3         Àú°¡  8,1008,100  (ÇÏÇÑ°¡  5,780  )   ½Ã°¡  8,2508,250
4         Àú°¡  8,1008,100  (ÇÏÇÑ°¡  5,780  )   ½Ã°¡  8,2508,250
5         Àú°¡  8,1008,100  (ÇÏÇÑ°¡  5,780  )   ½Ã°¡  8,2508,250
6         Àú°¡  8,1008,100  (ÇÏÇÑ°¡  5,780  )   ½Ã°¡  8,2508,250
7         Àú°¡  8,1008,100  (ÇÏÇÑ°¡  5,780  )   ½Ã°¡  8,2508,250
8         Àú°¡  8,1008,100  (ÇÏÇÑ°¡  5,780  )   ½Ã°¡  8,2508,250
9         Àú°¡  8,1008,100  (ÇÏÇÑ°¡  5,780  )   ½Ã°¡  8,2508,250
10        Àú°¡  8,1008,100  (ÇÏÇÑ°¡  5,780  )   ½Ã°¡  8,2508,250
11        Àú°¡  8,1008,100  (ÇÏÇÑ°¡  5,780  )   ½Ã°¡  8,2508,250
12        Àú°¡  8,1008,100  (ÇÏÇÑ°¡  5,780  )   ½Ã°¡  8,2508,250
13        Àú°¡  8,1008,100  (ÇÏÇÑ°¡  5,780  )   ½Ã°¡  8,2508,250
14        Àú°¡  8,1008,100  (ÇÏÇÑ°¡  5,780  )   ½Ã°¡  8,2508,250
15        Àú°¡  8,1008,100  (ÇÏÇÑ°¡  5,780  )   ½Ã°¡  8,2508,250
16        Àú°¡  8,1008,100  (ÇÏÇÑ°¡  5,780  )   ½Ã°¡  8,2508,250
17        Àú°¡  8,1008,100  (ÇÏÇÑ°¡  5,780  )   ½Ã°¡  8,2508,250
18                                        NaN                NaN
19                                        NaN                NaN
20                                        NaN                NaN
21                                        NaN                NaN
22                                        NaN                NaN
23                                        NaN                NaN
24                                        NaN                NaN
25                                        NaN                NaN
26                                        NaN                NaN
27                                        NaN                NaN
28                                        NaN                NaN
29                                        NaN                NaN
30                                        NaN                NaN
31                                        NaN                NaN
32                                        NaN                NaN
33                                        NaN                NaN
34                                        NaN                NaN
35                                        NaN                NaN

In [0]:
pd.read_html(pg_url, header=0)[0]

ModuleNotFoundError: ignored

In [0]:
soup.find_all('a')

[<a href="#menu" tabindex="1"><span>메인 메뉴로 바로가기</span></a>,
 <a href="#middle" tabindex="2"><span>본문으로 바로가기</span></a>,
 <a class="logo_naver" href="https://www.naver.com/" onclick="clickcr(this, 'STA.naver', '', '', event);"><span class="blind">네이버</span></a>,
 <a class="logo_service" href="/" onclick="clickcr(this, 'STA.finance', '', '', event);"><span class="blind">금융</span></a>,
 <a class="btn_arrow" href="#" id="nautocomplete" onclick="return false"><span class="blind">자동완성 펼치기</span></a>,
 <a class="snb_search_btn-total" href="#" onclick="itegrationSearch();clickcr(this, 'STA.nx', '', '', event);return false;" target="_blank">통합검색</a>,
 <a href="/" onclick="clickcr(this, 'LNB.home', '', '', event);"><span class="tx">금융 홈</span></a>,
 <a href="/sise/" onclick="clickcr(this, 'LNB.sise', '', '', event);"><span class="tx">국내증시</span></a>,
 <a href="/world/" onclick="clickcr(this, 'LNB.world', '', '', event);"><span class="tx">해외증시</span></a>,
 <a href="/marketindex/" onclick="clickcr(this, 'LNB.market', '', '', event);"><span class="tx">시장지표</span></a>,
 <a href="/fund/" onclick="clickcr(this, 'LNB.fund', '', '', event);"><span class="tx">펀드</span></a>,
 <a href="/research/" onclick="clickcr(this, 'LNB.research', '', '', event);"><span class="tx">투자전략</span></a>,
 <a href="/news/"><span class="tx">뉴스</span></a>,
 <a href="/mystock/" onclick="clickcr(this, 'LNB.mystock', '', '', event);"><span class="tx">MY</span></a>,
 <a href="/recommendationItem/" onclick="clickcr(this, 'LNB.rec', '', '', event);"><span class="tx">추천종목</span></a>,
 <a href="https://finance.naver.com/notice.nhn?permLink=/read/1100001004/10000000000030665505" onclick="clickcr(this, 'rec.con1', '', '', event);" target="_blank"><b>(중요) MY '매매내역' 및 'MY펀드'서비스가 종료되었습니다.</b></a>,
 <a href="https://finance.naver.com/notice.nhn?permLink=/read/1100001004/10000000000030665895" onclick="clickcr(this, 'rec.con2', '', '', event);" target="_blank"> 해외 증시휴장일 정보 제공 종료  </a>,
 <a href="https://short.krx.co.kr/" onclick="clickcr(this, 'rec.con3', '', '', event);" target="_blank">[한국거래소] 공매도 종합 포털</a>,
 <a href="https://m.irgo.co.kr/" onclick="clickcr(this, 'rec.con4', '', '', event);" target="_blank">[IRGO] 상장기업 IR 종합 포털</a>,
 <a href="#" onclick="clickcr(this, 'sop.title', '', '', event);window.location.reload();">코메론</a>,
 <a href="#" onclick="togglePannel('summary_lyr'); return false;"></a>,
 <a href="#" onclick="hidePannel('summary_lyr'); return false;"><img alt="닫기" height="11" src="https://ssl.pstatic.net/static/nfinance/img/btn_close.gif" width="11"/></a>,
 <a class="snb_top1" href="#" onclick="clickcr(this,'sop.2','','',event);"><span class="blind">MY STOCK 추가</span></a>,
 <a class="snb_top3" href="javascript:quickorder('on')" onclick="clickcr(this,'sop.3','','',event);"><span class="blind">빠른주문</span></a>,
 <a href="javascript:quickorder('off')"><img alt="닫기" height="20" src="https://ssl.pstatic.net/imgstock/item_renewal/btn_close.gif" width="38"/></a>,
 <a href="javascript:quickorder('off')"><img alt="닫기" height="19" src="https://ssl.pstatic.net/imgstock/item_renewal/btn_close_x.gif" width="19"/></a>,
 <a class="on" href="#" onclick="showChart('day')">1일</a>,
 <a href="#" onclick="showChart('week')">1주일</a>,
 <a href="#" onclick="showChart('month3');">3개월</a>,
 <a href="#" onclick="showChart('year');">1년</a>,
 <a href="#" onclick="showChart('year3');">3년</a>,
 <a href="#" onclick="showChart('year5');">5년</a>,
 <a href="#" onclick="showChart('year10');">10년</a>,
 <a href="#" onclick="showBarChart('day');">일봉</a>,
 <a href="#" onclick="showBarChart('week');">주봉</a>,
 <a href="#" onclick="showBarChart('month');">월봉</a>,
 <a class="btn_close" href="javascript:fchartStatus.showChartArea('049430', '%C4%DA%B8%DE%B7%D0', 'false')" onclick="clickcr(this,'sop.toggle','','',event);">
 <div id="btn_close">
 <img alt="차트열기" height="11" src="https://ssl.pstatic.net/imgstock/item_renewal/btn_lay_open.gif" width="45"/>
 </div>
 </a>,
 <a class="tab1" href="/item/main.nhn?code=049430" onclick="clickcr(this,'sop.4','','',event);"><span>종합정보</span></a>,
 <a class="tab2" href="/item/sise.nhn?code=049430" onclick="clickcr(this,'sop.5','','',event);"><span>시세</span></a>,
 <a class="tab3" href="/item/fchart.nhn?code=049430" onclick="clickcr(this,'sop.6','','',event);"><span>차트</span></a>,
 <a class="tab4" href="/item/frgn.nhn?code=049430" onclick="clickcr(this,'sop.10','','',event);"><span>투자자별 매매동향</span></a>,
 <a class="tab5" href="/item/news.nhn?code=049430" onclick="clickcr(this,'sop.7','','',event);"><span>뉴스·공시</span></a>,
 <a class="tab6" href="/item/coinfo.nhn?code=049430" onclick="clickcr(this,'sop.9','','',event);"><span>종목분석</span></a>,
 <a class="tab7" href="/item/board.nhn?code=049430" onclick="clickcr(this,'sop.11','','',event);"><span>종목토론실</span></a>,
 <a class="tab8" href="/item/dart.nhn?code=049430" onclick="clickcr(this,'sop.12','','',event);"><span>전자공시</span></a>,
 <a class="tab9" href="/item/short_trade.nhn?code=049430" onclick="clickcr(this,'sop.13','','',event);"><span>공매도현황</span></a>,
 <a class="p11 red03 u" href="javascript:select_type('frgn_chart')" id="frgn_chart_title">외국인</a>,
 <a class="p11" href="javascript:select_type('organ_chart')" id="organ_chart_title">기관</a>,
 <a href="javascript:select_gigan('frgn_chart', 0)"><img alt="1개월" height="25" id="frgn_chart_img_0" src="https://ssl.pstatic.net/imgstock/images5/stab01_01_on.gif" width="77"/></a>,
 <a href="javascript:select_gigan('frgn_chart', 1)"><img alt="3개월" height="25" id="frgn_chart_img_1" src="https://ssl.pstatic.net/imgstock/images5/stab01_02_off.gif" width="77"/></a>,
 <a href="javascript:select_gigan('frgn_chart', 2)"><img alt="6개월" height="25" id="frgn_chart_img_2" src="https://ssl.pstatic.net/imgstock/images5/stab01_03_off.gif" width="77"/></a>,
 <a href="javascript:select_gigan('frgn_chart', 3)"><img alt="1년" height="25" id="frgn_chart_img_3" src="https://ssl.pstatic.net/imgstock/images5/stab01_04_off.gif" width="77"/></a>,
 <a href="javascript:select_gigan('organ_chart', 0)"><img alt="1개월" height="25" id="organ_chart_img_0" src="https://ssl.pstatic.net/imgstock/images5/stab01_01_on.gif" width="77"/></a>,
 <a href="javascript:select_gigan('organ_chart', 1)"><img alt="3개월" height="25" id="organ_chart_img_1" src="https://ssl.pstatic.net/imgstock/images5/stab01_02_off.gif" width="77"/></a>,
 <a href="javascript:select_gigan('organ_chart', 2)"><img alt="6개월" height="25" id="organ_chart_img_2" src="https://ssl.pstatic.net/imgstock/images5/stab01_03_off.gif" width="77"/></a>,
 <a href="javascript:select_gigan('organ_chart', 3)"><img alt="1년" height="25" id="organ_chart_img_3" src="https://ssl.pstatic.net/imgstock/images5/stab01_04_off.gif" width="77"/></a>,
 <a href="/item/frgn.nhn?code=049430&amp;page=1">1</a>,
 <a href="/item/frgn.nhn?code=049430&amp;page=2">2</a>,
 <a href="/item/frgn.nhn?code=049430&amp;page=3">3</a>,
 <a href="/item/frgn.nhn?code=049430&amp;page=4">4</a>,
 <a href="/item/frgn.nhn?code=049430&amp;page=5">5</a>,
 <a href="/item/frgn.nhn?code=049430&amp;page=6">6</a>,
 <a href="/item/frgn.nhn?code=049430&amp;page=7">7</a>,
 <a href="/item/frgn.nhn?code=049430&amp;page=8">8</a>,
 <a href="/item/frgn.nhn?code=049430&amp;page=9">9</a>,
 <a href="/item/frgn.nhn?code=049430&amp;page=10">10</a>,
 <a href="/item/frgn.nhn?code=049430&amp;page=11">
 				다음<img alt="" border="0" height="5" src="https://ssl.pstatic.net/static/n/cmn/bu_pgarR.gif" width="3"/>
 </a>,
 <a href="/item/frgn.nhn?code=049430&amp;page=169">맨뒤
 				<img alt="" border="0" height="5" src="https://ssl.pstatic.net/static/n/cmn/bu_pgarRR.gif" width="8"/>
 </a>,
 <a href="javascript:showArea('tab_invest', 'tab tab_invest1', 'tab_con1', 'tab_con2')" onclick="clickcr(this, 'sop.18', '', '2', event)"><span>투자정보</span></a>,
 <a href="javascript:showArea('tab_invest', 'tab tab_invest2', 'tab_con2', 'tab_con1')" onclick="clickcr(this, 'sop.20', '', '2', event)"><span>호가10단계</span></a>,
 <a class="link_site" href="/sise/sise_market_sum.nhn?sosok=1" onclick="clickcr(this, 'sop.19', '', '1', event)">시가총액순위</a>,
 <a class="link_site strong" href="#" onclick="togglePannel('helpPannel6');">전자투표</a>,
 <a href="https://evote.ksd.or.kr">예탁결제원</a>,
 <a href="https://v.miraeassetdaewoo.com">미래에셋대우</a>,
 <a class="btn_close" href="#" onclick="hidePannel('helpPannel6');"><span class="blind">레이어 닫기</span></a>,
 <a href="javascript:togglePannel('helpPannel0');" onmouseout="hidePannel('helpPannel0');" onmouseover="showPannel('helpPannel0');"><img alt="외국인소진율(B/A) 상세설명" height="11" src="https://ssl.pstatic.net/static/nfinance/2018/10/26/btn_help.png" width="11"/></a>,
 <a href="javascript:togglePannel('helpPannel1');" onmouseout="hidePannel('helpPannel1');" onmouseover="showPannel('helpPannel1');"><img alt="추정PER EPS(FnGuide) 상세설명" height="11" src="https://ssl.pstatic.net/static/nfinance/2018/10/26/btn_help.png" width="11"/></a>,
 <a href="javascript:togglePannel('helpPannel2');" onmouseout="hidePannel('helpPannel2');" onmouseover="showPannel('helpPannel2');"><img alt="PER EPS(KRX) 상세설명" height="11" src="https://ssl.pstatic.net/static/nfinance/2018/10/26/btn_help.png" width="11"/></a>,
 <a href="javascript:togglePannel('helpPannel3');" onmouseout="hidePannel('helpPannel3');" onmouseover="showPannel('helpPannel3');"><img alt="추정PER EPS 상세설명" height="11" src="https://ssl.pstatic.net/static/nfinance/2018/10/26/btn_help.png" width="11"/></a>,
 <a href="javascript:togglePannel('helpPannel4');" onmouseout="hidePannel('helpPannel4');" onmouseover="showPannel('helpPannel4');"><img alt="PBR | BPS 상세설명" height="11" src="https://ssl.pstatic.net/static/nfinance/2018/10/26/btn_help.png" width="11"/></a>,
 <a href="javascript:togglePannel('helpPannel5');" onmouseout="hidePannel('helpPannel5');" onmouseover="showPannel('helpPannel5');"><img alt="배당수익률 상세설명" height="11" src="https://ssl.pstatic.net/static/nfinance/2018/10/26/btn_help.png" width="11"/></a>,
 <a class="link_site" href="/sise/sise_group_detail.nhn?type=upjong&amp;no=138" onclick="clickcr(this, 'sop.19', '', '2', event)">동일업종 PER</a>,
 <a class="link_site" href="/sise/sise_group_detail.nhn?type=upjong&amp;no=138" onclick="clickcr(this, 'sop.19', '', '3', event)">동일업종 등락률</a>,
 <a href="javascript:showRecent('tab_search', 'tab tab_search1', '049430', 'recent')" onclick="jindo.$Cookie().set('summary_item_type', 'recent', 30, 'finance.naver.com'); clickcr(this, 'rch.1', '', '', event);"><span>최근검색</span></a>,
 <a href="javascript:showRecent('tab_search', 'tab tab_search2', '049430', 'mystock')" onclick="jindo.$Cookie().set('summary_item_type', 'mystock', 30, 'finance.naver.com'); clickcr(this, 'rch.3', '', '', event);"><span>My stock</span></a>,
 <a href="javascript:showArea('tab_fav', 'tab tab_fav1', 'fav_kospi', 'fav_kosdaq')" onclick="clickcr(this, 'pss.1', '', '', event);"><span>코스피</span></a>,
 <a href="javascript:showArea('tab_fav', 'tab tab_fav2', 'fav_kosdaq', 'fav_kospi')" onclick="clickcr(this, 'pss.3', '', '', event);"><span>코스닥</span></a>,
 <a href="/item/main.nhn?code=035420" onclick="clickcr(this, 'pss.2', '', '1', event);" target="_top">NAVER</a>,
 <a href="/item/main.nhn?code=035720" onclick="clickcr(this, 'pss.2', '', '2', event);" target="_top">카카오</a>,
 <a href="/item/main.nhn?code=005930" onclick="clickcr(this, 'pss.2', '', '3', event);" target="_top">삼성전자</a>,
 <a href="/item/main.nhn?code=068270" onclick="clickcr(this, 'pss.2', '', '4', event);" target="_top">셀트리온</a>,
 <a href="/item/main.nhn?code=033180" onclick="clickcr(this, 'pss.2', '', '5', event);" target="_top">필룩스</a>,
 <a href="/item/main.nhn?code=002780" onclick="clickcr(this, 'pss.2', '', '6', event);" target="_top">진흥기업</a>,
 <a href="/item/main.nhn?code=064350" onclick="clickcr(this, 'pss.2', '', '7', event);" target="_top">현대로템</a>,
 <a href="/item/main.nhn?code=006400" onclick="clickcr(this, 'pss.2', '', '8', event);" target="_top">삼성SDI</a>,
 <a href="/item/main.nhn?code=047810" onclick="clickcr(this, 'pss.2', '', '9', event);" target="_top">한국항공우주</a>,
 <a href="/item/main.nhn?code=023530" onclick="clickcr(this, 'pss.2', '', '10', event);" target="_top">롯데쇼핑</a>,
 <a href="/item/main.nhn?code=078130" onclick="clickcr(this, 'pss.4', '', '1', event);" target="_top">국일제지</a>,
 <a href="/item/main.nhn?code=065450" onclick="clickcr(this, 'pss.4', '', '2', event);" target="_top">빅텍</a>,
 <a href="/item/main.nhn?code=950160" onclick="clickcr(this, 'pss.4', '', '3', event);" target="_top">코오롱티슈진</a>,
 <a href="/item/main.nhn?code=048410" onclick="clickcr(this, 'pss.4', '', '4', event);" target="_top">현대바이오</a>,
 <a href="/item/main.nhn?code=046890" onclick="clickcr(this, 'pss.4', '', '5', event);" target="_top">서울반도체</a>,
 <a href="/item/main.nhn?code=041190" onclick="clickcr(this, 'pss.4', '', '6', event);" target="_top">우리기술투자</a>,
 <a href="/item/main.nhn?code=240810" onclick="clickcr(this, 'pss.4', '', '7', event);" target="_top">원익IPS</a>,
 <a href="/item/main.nhn?code=189300" onclick="clickcr(this, 'pss.4', '', '8', event);" target="_top">인텔리안테크</a>,
 <a href="/item/main.nhn?code=091700" onclick="clickcr(this, 'pss.4', '', '9', event);" target="_top">파트론</a>,
 <a href="/item/main.nhn?code=063440" onclick="clickcr(this, 'pss.4', '', '10', event);" target="_top">SM Life Desig..</a>,
 <a href="/sise/sise_index.nhn?code=KOSPI" onclick="clickcr(this, 'quk.2', '', '', event);">코스피</a>,
 <a href="/sise/sise_index.nhn?code=KOSDAQ" onclick="clickcr(this, 'quk.3', '', '', event);">코스닥</a>,
 <a href="/sise/sise_index.nhn?code=FUT" onclick="clickcr(this, 'quk.4', '', '', event);">선물</a>,
 <a class="end" href="/sise/konex.nhn" onclick="clickcr(this, 'quk.konex', '', '', event);">코넥스</a>,
 <a href="/sise/sise_index.nhn?code=KPI200" onclick="clickcr(this, 'quk.30', '', '', event);">코스피200</a>,
 <a href="/sise/etf.nhn" onclick="clickcr(this, 'quk.31', '', '', event);">ETF</a>,
 <a href="/sise/sise_group.nhn?type=upjong" onclick="clickcr(this, 'quk.5', '', '', event);"><strong>업종별</strong></a>,
 <a class="end" href="/sise/theme.nhn" onclick="clickcr(this, 'quk.6', '', '', event);">테마별</a>,
 <a href="/sise/sise_upper.nhn" onclick="clickcr(this, 'quk.7', '', '', event);"><strong>상한가</strong></a>,
 <a href="/sise/sise_lower.nhn" onclick="clickcr(this, 'quk.8', '', '', event);">하한가</a>,
 <a href="/sise/sise_rise.nhn" onclick="clickcr(this, 'quk.9', '', '', event);">상승</a>,
 <a href="/sise/sise_steady.nhn" onclick="clickcr(this, 'quk.10', '', '', event);">보합</a>,
 <a class="end" href="/sise/sise_fall.nhn" onclick="clickcr(this, 'quk.11', '', '', event);">하락</a>,
 <a href="/sise/sise_quant.nhn" onclick="clickcr(this, 'quk.12', '', '', event);">거래상위</a>,
 <a href="/sise/sise_quant_high.nhn" onclick="clickcr(this, 'quk.13', '', '', event);"><strong>급증</strong></a>,
 <a class="end" href="/sise/sise_quant_low.nhn" onclick="clickcr(this, 'quk.14', '', '', event);">급감</a>,
 <a href="/sise/sise_high_down.nhn" onclick="clickcr(this, 'quk.15', '', '', event);">고가대비급락</a>,
 <a class="end" href="/sise/sise_low_up.nhn" onclick="clickcr(this, 'quk.16', '', '', event);">저가대비급등</a>,
 <a href="/sise/sise_market_sum.nhn" onclick="clickcr(this, 'quk.17', '', '', event);"><strong>시가총액상위</strong></a>,
 <a class="end" href="/sise/sise_foreign_hold.nhn" onclick="clickcr(this, 'quk.18', '', '', event);">외국인보유현황</a>,
 <a href="/sise/sise_deal_rank.nhn" onclick="clickcr(this, 'quk.19', '', '', event);">외국인매매</a>,
 <a href="/sise/sise_deal_rank.nhn?investor_gubun=1000" onclick="clickcr(this, 'quk.19-1', '', '', event);">기관매매</a>,
 <a class="end" href="/sise/sise_program.nhn" onclick="clickcr(this, 'quk.20', '', '', event);">프로그램매매</a>,
 <a href="/sise/management.nhn" onclick="clickcr(this, 'quk.21', '', '', event);">관리·감리종목</a>,
 <a class="end" href="/sise/sise_new_stock.nhn" onclick="clickcr(this, 'quk.22', '', '', event);">신규상장종목</a>,
 <a href="/sise/sise_deposit.nhn" onclick="clickcr(this, 'quk.23', '', '', event);">증시자금동향</a>,
 <a class="end" href="/sise/sise_trans_style.nhn" onclick="clickcr(this, 'quk.24', '', '', event);">투자자별매매동향</a>,
 <a href="/sise/item_gap.nhn" onclick="clickcr(this, 'quk.25', '', '', event);">갭상승 종목</a>,
 <a class="end" href="/sise/item_gold.nhn" onclick="clickcr(this, 'quk.26', '', '', event);">골든크로스 종목</a>,
 <a href="/sise/item_igyuk.nhn" onclick="clickcr(this, 'quk.27', '', '', event);">이격도과열종목</a>,
 <a class="end" href="/sise/item_overheating_1.nhn" onclick="clickcr(this, 'quk.28', '', '', event);">투자심리과열종목</a>,
 <a class="end" href="/sise/item_overheating_2.nhn" onclick="clickcr(this, 'quk.29', '', '', event);">상대강도과열종목</a>,
 <a class="more" href="/sise/" onclick="clickcr(this, 'quk.1', '', '', event);">더보기</a>,
 <a href="https://finance.naver.com/notice.nhn?permLink=/read/1100001004/10000000000030665895" onclick="clickcr(this, 'ice.2', 'https://finance.naver.com/notice.nhn?permLink=/read/1100001004/10000000000030665895', '1', event)">해외 증시휴장일 정보 제공 종료</a>,
 <a href="https://finance.naver.com/notice.nhn?permLink=/read/1100001004/10000000000030665505" onclick="clickcr(this, 'ice.2', 'https://finance.naver.com/notice.nhn?permLink=/read/1100001004/10000000000030665505', '2', event)"> MY '매매내역' 및 'MY펀드...</a>,
 <a href="" onclick="clickcr(this, 'ice.2', '', '3', event)"></a>,
 <a href="" onclick="clickcr(this, 'ice.2', '', '4', event)"></a>,
 <a href="" onclick="clickcr(this, 'ice.2', '', '5', event)"></a>,
 <a class="more" href="https://finance.naver.com/notice.nhn" onclick="clickcr(this, 'ice.1', '', '', event);">더보기</a>,
 <a href="https://www.naver.com/rules/service.html" onclick="clickcr(this, 'fot.service', '', '', event);" target="_blank">이용약관</a>,
 <a href="https://finance.naver.com/rules.nhn" onclick="clickcr(this, 'fot.policy', '', '', event);" target="_blank">금융게시판 운영원칙</a>,
 <a href="https://www.naver.com/rules/privacy.html" onclick="clickcr(this, 'fot.privacy', '', '', event);" target="_blank"><strong>개인정보처리방침</strong></a>,
 <a href="https://www.naver.com/rules/disclaimer.html" onclick="clickcr(this, 'fot.limit', '', '', event);" target="_blank">책임의 한계와 법적고지</a>,
 <a href="https://help.naver.com/support/alias/contents2/finance/finance_1.naver" onclick="clickcr(this, 'fot.help', '', '', event);" target="_blank">금융 고객센터</a>,
 <a class="desc_help" href="javascript:;" onclick="togglePanelFooter('footerPanel0');"><img alt="제공업체 상세설명" height="17" src="https://ssl.pstatic.net/static/nfinance/2018/06/29/btn_help.png" width="17"/></a>,
 <a class="logo" href="https://www.navercorp.com/" onclick="clickcr(this, 'fot.nhn', '', '', event);" target="_blank"><img alt="NAVER" height="11" src="https://ssl.pstatic.net/static/nfinance/2019/02/22/ci_naver.png" width="58"/></a>,
 <a href="https://www.navercorp.com/" onclick="clickcr(this, 'fot.nhn', '', '', event);" target="_blank">NAVER Corp.</a>]